/* Import the Be Vietnam font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600;700;800&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Be Vietnam', sans-serif; /* Global font */
  background-color: white;
  color: black; /* Global text color */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Utility Classes */
.fullscreen {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Default Link Styling */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
